<a href="https://colab.research.google.com/github/kavyaaaa33/Business-Analytics-with-python/blob/main/mn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x="this is\"python\"programming"
print(x)

this is"python"programming

In [ ]:
x="he\"s a doctor"
print(x)

he"s a doctor

In [ ]:
x="hello\nworld"
print(x)

hello
world

In [ ]:
x="hello\tworld!"
print(x)

hello	world!

In [ ]:
print("\"KAVYA\" REGHUNANDANAN MENON")

"KAVYA" REGHUNANDANAN MENON

In [ ]:
print("he\'s a doctor")

he's a doctor

In [ ]:
print("kavya\n menon")

kavya
 menon

In [ ]:
def kavya():
  x=["john","mary","david","adam"]
  y=input("enter a  name")
  i=int(input("enter index"))
  x.insert(i,y)
  print(x)

In [48]:
def kavya():
 x=int(input("enter a number"))
 y=int(input("enter a number"))
 a=x+y
 b=x-y
 c=x*y
 d=x/y
 print(a,b,c,d)

In [46]:
kavya()

emter a number14
emter a number13
27 1 182 1.0769230769230769

In [49]:
def maths(a,b):
  print(a+b)

In [51]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value45
enter second value32
77

In [55]:
def subtract(a,b):
  print(a-b)

In [57]:
x=int(input("enter first value"))
y=int(input("enter second value"))
subtract(x,y)

enter first value4
enter second value5
-1

In [58]:
def divide(a,b):
  print(a/b)

In [60]:
x=int(input("enter first value"))
y=int(input("enter second value"))
divide(x,y)

enter first value3
enter second value4
0.75

In [61]:
def multiply(a,b):
  print(a*b)

In [63]:

multiply(x,y)

enter first value3
enter second value4
12