<a href="https://colab.research.google.com/github/kavyaaaa33/business-analytics-with-python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [12]:
df=pd.read_csv("/content/Supermarket_sales.csv")

In [13]:
df

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,997,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,998,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,999,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,1000,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [14]:
df.Unitprice.max()

99.96

In [15]:
df.Unitprice.min()

10.08

In [16]:
df.Unitprice.mean()

55.67213

In [17]:
df.Quantity.max()

10

In [18]:
df.Quantity.min()

1

In [19]:
df.Quantity.me

5.51

In [25]:
df.groupby("Productline").Quantity.max()

Productline
Electronic accessories    10
Fashion accessories       10
Food and beverages        10
Health and beauty         10
Home and lifestyle        10
Sports and travel         10
Name: Quantity, dtype: int64

In [27]:
df.loc[df["Productline"]=="Health and beauty"].Quantity.max()

10

In [28]:
df.loc[df["Productline"]=="Health and beauty"].Quantity.min()

1

In [29]:
df.loc[df["Productline"]=="Health and beauty"].Quantity.mean()

5.618421052631579

In [31]:
df.loc[df["Productline"]=="Health and beauty"].Unitprice.max()

99.96

In [32]:
df.loc[df["Productline"]=="Health and beauty"].Unitprice.min()

10.08

In [33]:
df.loc[df["Productline"]=="Health and beauty"].Unitprice.mean()

54.85447368421053

In [34]:
df.loc[df["Productline"]=="Electronic accessories"].Quantity.max()

10

In [35]:
df.loc[df["Productline"]=="Electronic accessories"].Quantity.min()

1

In [36]:
df.loc[df["Productline"]=="Electronic accessories"].Quantity.mean()

5.711764705882353

In [37]:
df.loc[df["Productline"]=="Health and beauty"].Unitprice.max()< df.loc[df["Productline"]=="Health and beauty"].Unitprice.min()

False

In [54]:
df.loc[(df["Productline"]=="Health and beauty") & (df["Gender"]=="Male")].Quantity.count()

88

In [55]:
df.loc[(df["Productline"]=="Fahion accessories") & (df["Productline"]=="Sports and travel") & (df["Gender"]=="Female")].Quantity.count()

0