<a href="https://colab.research.google.com/github/kavyaaaa33/business-analytics-with-python/blob/main/tax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=input("enter the first number")

enter the first number3

In [ ]:
y=input("enter second number")

enter second number4

In [ ]:
print (int(x)+int(y))

7

In [ ]:
x=int(input("enter first number"))

enter first number88

In [ ]:
y=int(input("enter seond number"))

enter seond number45

In [ ]:
print(x+y)

133

In [ ]:
p=int(input("enter the principle amt"))
r=int(input("enter the rate"))
t=int(input("enter the time"))
x=p*r*t/100
print(x)

enter the principle amt5000
enter the rate2
enter the time5
500.0

In [16]:
x=int(input("enter banking marks"))
if x>= 50:
  print("pass")
else :
  print("fail")

enter banking marks78
pass

In [17]:
x=int(input("enter your salary"))
if x>= 500000:
  print("your taxable")
else:
  print("your not taxabble")

enter your salary56223362226
your taxable

In [20]:
x=int(input("enter your salary"))
if x>= 5000000:
       print("your taxable")
else:
     print ("not taxable")
y=x*10/100
print (y)

enter your salary46667880
your taxable
4666788.0

In [23]:
x=int(input("enter your salary"))
if x <250000:
  print("your taxable")
elif x<500000:
  print(x-250000*10/100)
else:
  print("your not taxable")

enter your salary500000
your not taxable