<a href="https://colab.research.google.com/github/kavyaaaa33/Business-Analytics-with-python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=int(input("enter your marks"))

enter your marks50

In [3]:
if x>50:
  print("your are pass")

In [5]:
if x<50:
  print("you are failed")

In [6]:
y=int(input("enter your salary"))

enter your salary250000

In [10]:
if y<250000:
  print('you are not taxable')
else:
    print('your are taxable')

your are taxable

In [43]:
z=int(input('enter your salary'))
if z>=250000:
  y=z-250000*10/100
if z<250000:
  print("your not taxable")

enter your salary300000

In [44]:
print(y)

275000.0

In [68]:
salary=int(input("enter your salary"))
if salary<250000:
  print("your not taxable")
if salary<500000:
  x=500000-250000*5/100
  print("taxable",x)
 if salary<750000 and x>500000:
   x=salary-2500000*5/100+(x*10/100)
     print("taxable",x)
 if salary<1000000 and x>750000:
   x=salary*2500000*5/100+(x-750000*10/100)+(x*15/100)
      print("taxable",x)
if salary <1250000 and x>1000000:
  x=salary-250000*5/100+(x-750000*10/100)+(x-1000000*15/100)+x*20/100
       print("taxable",x)
if salary<1500000 and x>250000:
  x=salary-250000*5/100+(x-750000*10/100)+(x-1000000*15/100)+(x-1500000*20/100)+(x*25/100)
    print("taxable",x)
if salary>1500000:
  x=salary-250000*5/100+(x-750000*10/100)+(x-1000000*15/100)+(x-1500000*20/100)+(x-2500000*25/100)
  print("taxable",x)

IndentationError: ignored