<a href="https://colab.research.google.com/github/kavyaaaa33/Business-Analytics-with-python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
x=int(input("enter your basic salary"))*12
y=int(input("enter your HRA of employer"))*12
z=int(input("enter your HRA which is actually paid"))*12

enter your basic salary500000
enter your HRA of employer400000
enter your HRA which is actually paid200000

In [27]:
a=z-(x*10/100)
print(a)
b=x*50/100
print(b)

1800000.0
3000000.0

In [28]:
if x<a and x<b:
  HRA=x
  print(HRA)
if a<b and a<x:
  HRA=x
  print(HRA)
if b<a and b<x:
  HRA=y
  print(HRA)

6000000

In [29]:
y1=x+y-5000
print(y1)

10795000

In [30]:
if y1<=250000:
   print("tax is zero")
if y1>=250000 and y1<=500000:
   tax=((y1-250000)*5/100)
   print(tax)
if y1>=500000 and y1<=750000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)
   print(tax)
if y1>=750000 and y1<=1000000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)+((y1-750000)*20/100)
   print(tax)
if y1>=1250000 and y1<=1500000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)+((y1-750000)*20/100)+((y1-1250000)*25/100)
   print(tax)
if y1>=1500000:
   tax=((y1-250000)*5/100)+((y1-500000)*10/100)+((y1-750000)*20/100)+((y1-1250000)*25/100)+((y1-1500000)*30/100)
   print(tax)

SyntaxError: ignored